#fa
{
text-decoration:underline;
font-family:Cambria;
color:#000099;
}
.fb
{
font-family:Bookshelf Symbol 7;
font-size:15px;
}
.fc
{
font-family:Calibri;
font-size:15px;
}
.fd
{
height:50px;
width:50px;
}
.mySlides
{
height:400px;
width:50px;
}
.img1
{
height:300px;
width:300px;
}
.img2
{
height:225px;
width:225px;
}
#h1
{
height:20px;
background-color:White;
color:#990000;
padding:5px;
text-align:center;
font-size:30px;
font-family:cursive;
}
.white
{
height:10px;
}
#white1
{
height:60px;
}
